@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
html{
  scroll-behavior: smooth;
  font-size: 67,5%;

  font-family: 'Exo 2', sans-serif;
}
:root{
  --header-be:#fdf3f4;
  --btn--hover:#d6d2d2;
  --border-color: #8c8989;
}

.sizeInput{
  width:100%;
}
.custom-file-input:lang(en)~.custom-file-label::after {
          content: "Chọn tệp";
      }
.custom-file-label{
       display:block;
      }

#header{

  background-color:var(--header-be);
  & .dropdown:hover .dropdown-menu {
      display: block;
  
  }
  & .dropdown:hover .menu-link{
      font-weight: bold;
  }
  & .dropdown-item:hover{
      background-color: #bab7b7!important;
  }
  & .dropdown-menu{
      width: max-content;
      padding: 0 !important;;
      
  }
  & .dropdown{
      padding: 3px;
  }
}
.menu-item{
  padding: 0 1em;
}
.offcanvas-size-sm {
  --bs-offcanvas-width: min(95vw, 350px) !important;
}
body{
  background-color: var(--bg-color)!important;
}
.grid{
  display: grid;
  & .one-col{
      grid-template-columns: 1fr 1fr;
      grid-column-gap:10px ;
  }
  & .two-col{
      grid-template-columns: 1fr;
  }
  & .two-row{
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 10px;
  }
}
ul{
  list-style: none;
  }
  

li a{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight:400;
  font-size: 17px;
}
.offcanvas-body{
  justify-content: space-between;
}
#form-searching {
  padding-left: 6px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  & input{
      border: 0; 
      outline: none;
  }
  & i{
      padding: 10px;
      cursor: pointer;
  }
}
.btn-shopping_cart{
  padding: 5px;
  color: #030202;
  & i{
     margin-top: 3px;
     margin-left: 3px;
      padding: 4px;
      font-size: 1.2rem;

  }
}
button{
  border: 0px;
  padding: 3px 7px;
  background-color: var(--bg-color);
  font-size: 18px!important;
}


#slider img{
  width: 100%;
  object-fit: scale-down;
}
#introduction{
  & img{
      width: 100%;
      filter: grayscale(0.8);
      transition: 0.5s ease-in-out;
  }
  & div{
      position: relative;
  }
  & p{
      position: absolute; 
      color: rgb(247, 245, 245);
      font-weight: 700;
      font-size: 1.5rem;
      top: 50%;
      left: 45%;
  }
  & a:hover img{
      filter: grayscale(0);

  }
} 

.fa-location-dot{
  font-size: 1.4rem;
  margin-right: 6px;
}
.location-item p{
  margin-bottom: 4px;
}
.location-item h4{
  margin-left: -2rem;
}
.social .social-link{
  text-decoration: none;
  margin-left: 8px;
}
.social-link .social-icon{
      font-size: 1.5rem;
      background-color: white;
      border-radius: 50%;
      border: 1px solid black;
      padding:8px;
}
#navListSHOP{
  position: fixed;
  margin-top: 4%;
  margin-left: 0.2rem;
  & a{
      color: black;
  &.active,
  &:hover{
          background-color: #a3b0c2;
      }
  }
}
.img-wrapper{
  position: relative;
}
div.img_overlay{
  position: absolute;
  top:3%;
  left: 0;
  right: 0;
  bottom: 25%;
  background-color: rgba(43, 41, 41, 0.366);
  display: flex;
  align-items: center;
  justify-content: center;
  & p{
      color: #030202;
      font-weight: 900;
      font-size: 1.7rem;
      transform: rotate(-40deg);
  }
}
figure.effect-zoe {
  position: relative;
  float: left;
  overflow: hidden;
 

  text-align: center;
  cursor: pointer;
  & img{
      position: relative;
      display: block;
      filter: grayscale(0.2);
      transition: 0.5s ease-in-out;
  }
  & figcaption {
      position: absolute;
      top: auto;
      padding: 1em;
      height: 3.75em;
      background: #914949;
      color: #3c4a50;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0,100%,0);
      transform: translate3d(0,100%,0);
      & p.description {
          position: absolute;
          bottom: 90%;
          color: #161414;
          text-transform: none;
          font-size: 1.2rem;
          font-weight: 900;
          opacity: 0;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
         
      
      }
  
}
      &:hover figcaption{
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      }
      &:hover p.description {
          opacity: 1;
      }
      &:hover img{
      opacity: 0.7;
      filter: grayscale(0.7);
      transition: 0.5s ease-in-out;
      }
}

span.cart-value{
  position: relative;
  & a span{
      font-size: 3px;
      background-color: red;
      border-radius: 50%;
      color: white;
      position: absolute;
      top:0;
      right: 0px;
      padding: 0 6px;
  }
}
.card{
  border: 0!important;
  position: relative;
  & .card-sticker{
      display: inline-block;
      position: absolute;
      top:3%;
      left: 0;
      color: aliceblue;
      background-color: black;
      width: 80px;
      height: 22px;
      text-align: center;
      padding: 0 10px;
      font-size: 0.9rem;
  }
  & .card-sticker-second{
      left: 28%;
  }
  & .card-sticker-third{
      left: 57%;
  }
  & .card-img-top{
      width: 80%;
      margin-left: 9% ;
  }
  & .card-sticker-sale::after{
      content: "Sale";
  }
  & .card-sticker-new::after{
      content: "New";
  }
  & .card-sticker-comming:after{
      content: "Soon";
  }
  & .card-sticker-collab::after{
      content: "Collab";
  }
  & .card-sticker-best::after{
      content: "Best";
  }
  & .card-sticker-special::after{
      content: "Special";
  }
}

.card-title{
  text-align: center;
}



.card-text{
  color: red;
  text-align: center;
  
  
}
.card-price::after{
  margin-left: 8px;
  content: attr(data-price);
  color: gray;
  text-decoration: line-through;
}

.product-link:hover ~ .card-body .card-title{
  border-bottom:1px solid var(--btn--hover);
  transition: 0.5s ease-in-out;
}
.card:has(.product-link:hover) {
  padding: 0.5rem;
  border:1px solid var(--btn--hover)!important;
  transition: 0.5s ease-in-out!important;
}
.product-link{
  margin: 0 4%;
}

.see-all_btn:hover{
  background-color: var(--btn--hover);
}

#footer .collapse{
  margin-top: -0.8rem;
}
.see-all_btn{
  border: 2px solid black;
  padding: 6px 2rem;
  text-decoration: none;
  color: rgb(12, 12, 12);

}
/* product */
.product-btn{
  flex-direction: column;
  gap:0.7rem;
  
  & button{
      width: 90%;
      margin: 0 auto;
      padding:0.5rem 0;
      border: 1px solid var(--border-color);
      border-radius: 6px;
   }
}

#buy-now{
  background-color: black;
  color: white;
  &:hover{
      background-color: #030202;
  background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);
  }
}
#add-to-cart{
  &:hover{
      color:white;
      background-color: rgba(150, 142, 142, 0.679);
          }
}

.container.product{
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 2rem 0;
  margin-top: 10%;
  
}
.image-container{
  display: flex;
  justify-content: center;
  & img{
      width:50%;
      &.img-fluid{
        width: 100%;
      }
  }
  
}
.image-container-fuild{
  display: flex;
  justify-content: center;
  height: 50vh;
  & img{
      width:50%;
      &.img-fluid{
        width: 100%;
        object-fit: fill;
      }
  }
  
}

.product-info 
{ 
 & .product-size{
      justify-content: center;
  
 }
  & .card-title{
      font-size: 1.7rem;
      padding: 5px;
  }
  
      & .product-descreption {
               margin-top: 5%;
           &  ul li {
          font-weight: 100;
          font-size: 0.8rem;
          color: #2d2b2b;

               }
  }
}

.modal h6{
  font-size: 1.4rem;
  font-weight: 800;
}
#delivery-body{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1.5rem;
  & #delivery-price{ 
      background-color: rgba(81, 220, 220, 0.501);
      color: rgba(18, 60, 60, 0.916);
      border: 1px solid rgba(37, 130, 130, 0.577) ;
      border-radius: 3px;
      margin-top: 4%;
      padding: 0.5rem 0 0.5rem 1rem;
  }
  & #payment-method{
      padding: 1.5rem;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      &  #code-method span{
              margin-left: 15%;
      }
      &  #credit-method span{
          margin-left: 21%;
  }
     
}
}
#form-customer{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1.5rem;
      & .input-group{
      position: relative;
      display: flex;
      margin-top: 3%;
     
      & input,select,textarea{
         width: 100%;
         padding:1rem;
         border: 1px solid var(--border-color);
         border-radius: 3px;
         background: transparent;
         color: #fff;
         outline: none;
       }
          & label{
              position: absolute;
              top: 50%;
              left: 15px;
              transform: translateY(-50%);
              font-size: 0.9rem;
              color: gray;
              transition: 0.3s;
              pointer-events: none;
       }      
         
          & input:focus,
            select:focus,
            textarea:focus{
              border: 2px solid #1f3c3c;
              color: #030202;
              padding: 10px 10px ;
          
       }
          & input:valid,
            select:valid,
            textarea:valid{
            color: #030202;
            padding: 10px 10px ;
           }

           & input:focus ~ label,
             select:focus ~ label,
             textarea:focus ~ label,
             input:valid ~ label,
             select:valid ~ label,
             textarea:valid ~ label{
              top: 0px;
              left: 15px;
              font-size: 0.8rem;
              padding: 1px 10px;
              background-color: rgba(250, 250, 250, 0.885);
       }
     
    }
}
.form-content{
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 500px;
  max-width: calc(100%-32px);
      & .input-group{
      position: relative;
      display: flex;
      margin-top: 3%;
          & i{
              margin-right: 1rem ;
          }
      & input,select,textarea{
         width: 100%;
         padding:1rem;
         border: 0;
         border-bottom: 1px solid var(--border-color)!important;
         border-radius: 3px;
         background: transparent;
         color: #fff;
         outline: none;
         
       }
          & label{
              position: absolute;
              top: 50%;
              left: 15px;
              transform: translateY(-50%);
              font-size: 1.2rem;
              color: gray;
              transition: 0.3s;
              pointer-events: none;
       }      
         
          & input:focus,
            select:focus,
            textarea:focus{
              
              color: #030202;
              padding: 15px 0px ;
          
       }
          & input:valid,
            select:valid,
            textarea:valid{
            color: #030202;
            padding: 15px 0px ;
           }

           & input:focus ~ label,
             select:focus ~ label,
             textarea:focus ~ label,
             input:valid ~ label,
             select:valid ~ label,
             textarea:valid ~ label{
              top: 0px;
              left: 10px;
              font-size: 1.2rem;
              font-weight: 600;
              padding: 1px 10px;
              background-color: rgba(250, 250, 250, 0.885);
       }
     
    }

}
.form-group{
  margin-top: 3%;
  margin-left: 1%;
  & label{
      display: inline;
  }
  & input {
      padding: 10px 20px;
  }
  & #agree-term{
     size: 10px;
  }
  
}
#signup-form,#login-form{
  display: flex;
  border: 1px solid var(--border-color);
  justify-content: space-around;
  padding: 3rem;
  
}
.form-img{
  display: flex;
  flex-direction: column;
  min-width: 40%;
  max-width: 400px;
  
  & img{
      width: 80%;
  }
  & a{
      font-size: 1.2rem;
      color: #222;
      display: block;
      text-align: center;
      transition: 0.5s ease-in-out;
      &:first-child:hover{
          transform: scale(0.8);
          transition: 0.5s ease-in-out;
      }
  }
  & .sign-link{
      box-shadow: inset 0 0 0 0 #54b3d6;
       color: #0f0f0f;
      font-size: 1.5rem;
      font-weight: 700;
      color: #54b3d6;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      &:hover{
          color: #fff;
          box-shadow: inset 600px 0 0 0 #54b3d6;;
      }
  }
}
#biling-body{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 1.5rem;
  & .billing-info{
      display: grid;
      grid-template-columns: 3fr 10fr;
      & img{
          width: 60%;
      }
      
  }
  & .billing-footer{
      border: 1px solid var(--border-color);
      border-radius: 4px;
      padding: 1rem;
  }

}
.quantity-order{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & .icon-shape {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
  }
  
 &  .icon-sm {
      width: 2rem;
      height: 2rem;
      
  }
}

main.about{
  font-size: 1.2rem;
  & img{
      width: 60%;
  }
}
.btn-effect{
  border: 2px solid black;
  padding: 6px 2rem;

  text-decoration: none;
  color: rgb(12, 12, 12);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
      border: 1px solid;
      box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px #427388; 
  }
}

.cart-none{
  margin-bottom: 2rem;
   & i{
      font-size: 7rem;
      opacity: 0.5;
      margin: 1rem;
   }
}
#tax{
  border: 1px solid var(--border-color);
  padding: 2rem;
  width: 460px;
  margin-bottom: 1rem;
  & p{
      color: #575454;
      font-size: 1.2rem;
      font-weight: 700;
  }
}
.container-countdown{
  margin-bottom: 7rem ;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#countdown{

 max-width: 600px;
  & ul{
      margin: 5% 0 0 0;
      padding: 0;
      display: flex;
      gap: 5%;
      & li{
          flex: 25%;
          padding: 5%;
          margin: 0;
          list-style: none;
          background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
          border-radius: 5px;
          & span{
              display: block;
               font-size: 3rem;
          }
      }
  }
 & h1 {
      font-size: 4rem;
      text-shadow: 1px 1px 5px #000;  
      margin: 0;
    }
 &   p {
      font-size: 1.2rem;  
      text-shadow: 1px 1px 2px #000;
    }
  &  a {
      color: #fff;
    }
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    width: -webkit-fill-available;
}
.badge {
  font-size: 0.9rem;
  border-radius: 12px;
  padding: 5px 10px;
}

.badge-success {
  background-color: #28a745;
  color: white;
}

.badge-warning {
  background-color: #ffc107;
  color: white;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
}

.badge-info {
  background-color: #418adf;
  color: white;
}